<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
<rewrite>
 <rules>
 <rule name="OrgPage" stopProcessing="true">
 <match url="^(.*)$" />
 <conditions logicalGrouping="MatchAll">
 <add input="{HTTP_HOST}" pattern="^(.*)$" />
 <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
 <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
 </conditions>
 <action type="Rewrite" url="index.php/{R:1}" />
 </rule>
 </rules>
 </rewrite>
        <defaultDocument>

        </defaultDocument>

		<!--<rewrite>
            <rules>
                <clear />				
                <rule name="rewrite_index" enabled="true">
                    <match url="(^admin.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/index.php/{R:0}" logRewrittenUrl="true" />
                </rule>
                <rule name="store">
                    <match url="(^store.*)" />
                    <action type="Rewrite" url="/index.php/{R:0}" logRewrittenUrl="true" />
                </rule>
                <rule name="mobile">
                    <match url="(^mobile.*)" />
                    <action type="Rewrite" url="/index.php/{R:0}" />
                </rule>
                <rule name="com">
                    <match url="(^com.*)" />
                    <action type="Rewrite" url="/index.php/{R:0}" />
                </rule>
                <rule name="captcha">
                    <match url="(^captcha.*)" />
                    <action type="Rewrite" url="/index.php/{R:0}" />
                </rule>
            </rules>
        </rewrite>-->
    </system.webServer>
</configuration>
