{extend name="public/base" /}
<script src="../../../../../public/ueditor/ueditor.all.js"></script>
{block name="body"}
<script src="__PUBLIC__/layui/layui.js"></script>
<link href="__PUBLIC__/layui/css/layui.css" rel="stylesheet">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-content">
                <form action="{:url()}" method="post" class="form-horizontal" enctype="multipart/form-data">
                    <input type="hidden" name="id" value="{$category.id|default='0'}">

                    <div class="form-group">
                        <label class="col-sm-2 control-label">分类管理</label>
                        <div class="col-sm-8">
                            <select class="form-control" name="pid">
                                <option value="" >顶级分类</option>
                                {volist name="_list" id="v"}
                                <option value="{$v.id}" {if $category['pid']==$v['id']}selected{/if} {if($id==$v['id'])}disabled{/if}>{$v.catename}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-sm-2 control-label">分类名称</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="catename" value="{$category.catename|default=''}">
                        </div>
                        <div class="col-sm-4"><p class="help-block">用于显示名称</p></div>
                    </div>
                    

                    <div class="form-group">
                        <label class="col-sm-2 control-label">排序</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="sort" value="{$category.sort|default=0}">
                        </div>
                        <div class="col-sm-4"><p class="help-block">用于分组显示的顺序</p></div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">是否显示<span class="check-tips"></span></label>
                        <div class="col-sm-6">
                            <input type="radio" name="is_show" class="i-checks" value="1" {eq name="category['is_show']" value="1"}checked{/eq} >  是
                            <input type="radio" name="is_show" class="i-checks" value="0" {eq name="category['is_show']" value="0"}checked{/eq} > 否
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">分类图片</label>
                        <div class="col-sm-6">
                            <img id="showhead" src="{$category.photo_x|default='__PUBLIC__/admin/img/addbg2.png'}" style="max-height: 100px;max-width: 100px;">
                            <input type="hidden" id="photo_x" class="form-control" name="photo_x" value="{$category.photo_x}">
                        </div>
                        <div class="col-sm-4"><p class="help-block">用于菜单显示</p></div>
                        <script type="text/javascript">
                            layui.use('upload', function(){
                                var $ = layui.jquery;
                                var upload = layui.upload;

                                upload.render({
                                    elem: '#showhead',
                                    url: '{:url("upload/uploadview")}',
                                    size: 100000,
                                    exts: 'jpg|png|jpeg',
                                    multiple: true,
                                    before: function(obj) {
                                        layer.msg('图片上传中...', {
                                            icon: 16,
                                            shade: 0.01,
                                            time: 0
                                        })
                                    },
                                    done: function(res) {
                                        layer.close(layer.msg());//关闭上传提示窗口
                                        if(res.status == 0) {
                                            return layer.msg(res.message);
                                        }
                                        $("#showhead").attr("src",  res.filepath) ;
                                        $("#photo_x").attr("value",  res.filepath) ;
                                    }
                                });
                            });
                        </script>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-2">

                        <button class="btn btn-primary ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
                        <button class="btn btn-default" onclick="javascript:history.back(-1);return false;">返 回</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
    <script type="text/javascript">
        //导航高亮
        highlight_subnav("{:url('cate')}");
    </script>
<script type="text/javascript">
    $(function(){
        $("#file_head").on('change',function(){

            var objUrl = getObjectURL(this.files[0]) ;
            console.log("objUrl = "+objUrl) ;
            console.log(this.files[0]) ;
            /*var formData = this.files[0];*/
            if (objUrl) {
                $("#showhead").attr("src", objUrl) ;
            }
        });
        $("#showhead").click(function(){
            $("#file_head").click();
        });
    });
    //建立一個可存取到該file的url
    function getObjectURL(file) {
        var url = null ;
        if (window.createObjectURL!=undefined) { // basic
            url = window.createObjectURL(file) ;
        } else if (window.URL!=undefined) { // mozilla(firefox)
            url = window.URL.createObjectURL(file) ;
        } else if (window.webkitURL!=undefined) { // webkit or chrome
            url = window.webkitURL.createObjectURL(file) ;
        }
        return url ;
    }
</script>
{/block}