{extend name="public/base" /}

{block name="body"}
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
            <div class="mail-box-header">
                <!-- 表操作集合-->
                <div class="mail-tools tooltip-demo">
                    <div class="btn-group add-offsetRight">
                        <div class="input-group inline">
                            <a class="btn btn-sm btn-primary" href="{:url('addcate')}"><i class="fa fa-plus"></i> 添加</a>
                            <a class="btn btn-sm btn-danger add-offsetLeft ajax-post confirm" url="{:url('Good/changeSent?method=deleteuser&model=category\')}" target-form="ids"><i class="fa fa-trash-o"></i> 删除</a>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                </div>
                <!-- 表操作集合 - 结束-->
            </div>


            <!-- 数据列表 -->
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped add_tableimg2_table">
                            <thead>
                                <tr>
                                    <th class="i-checks checks-some" style="width: 20px;"><input type="checkbox" ></th>
                                    <th class="" style="width: 50px;">ID</th>
                                    <th class="">分类名称</th>
                                    <th class="">排序</th>
                                    <th class="">显隐</th>
                                    <th class="" style="width: 80px; text-align: right;">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                {notempty name="_list"}
                                {volist name="_list" id="vo"}
                                <tr>
                                    <td class="i-checks checks-block ids"><input type="checkbox" name="id[]" value="{$vo.id}"></td>
                                    <td>{$vo.id} </td>
                                    <td>{$vo.catename}</td>
                                    <td>{$vo.sort}</td>
                                    <td>
                                        <a href="javascript:" data="{$vo['is_show']}" class="ajax-get" onclick="setProperty(this,{$vo['id']},'is_show')">
                                            {eq name="vo.is_show" value="1"}显示
                                            {else/}隐藏{/eq}
                                        </a>
                                    </td>
                                    <td align="right">
                                        <a href="{:url('addcate?id='.$vo['id'])}" class="authorize">编辑</a>
                                        <a href="{:url('Good/changeSent?method=deleteuser&model=category&id='.$vo['id'])}" class="confirm ajax-get">删除</a>
                                    </td>
                                </tr>
                                {volist name="vo['children']" id="v"}
                                <tr>
                                    <td class="i-checks checks-block ids"><input type="checkbox" name="id[]" value="{$v.id}"></td>
                                    <td>{$v.id} </td>
                                    <td>|－－{$v.catename}</td>
                                    <td>{$v.sort}</td>
                                    <td>
                                        <a href="javascript:" data="{$v['is_show']}" class="ajax-get" onclick="setProperty(this,{$v['id']},'is_show')">
                                            {eq name="v.is_show" value="1"}显示
                                            {else/}隐藏{/eq}
                                        </a>
                                    </td>
                                    <td align="right">
                                        <a href="{:url('addcate?id='.$v['id'])}" class="authorize">编辑</a>
                                        <a href="{:url('Good/changeSent?method=deleteuser&model=category&id='.$v['id'])}" class="confirm ajax-get">删除</a>
                                    </td>
                                </tr>
                                {/volist}
                                {/volist}
                                {else/}
                                <td colspan="9" class="text-center"> aOh! 暂时还没有内容! </td>
                                {/notempty}
                            </tbody>
                        </table>
                    </div>
                    <!-- 分页-->
                    <div class="row">
                        <div class="col-lg-12">
                            {$_page}
                        </div>
                    </div>
                    <!-- 分页 - 结束 -->
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
	

<script type="text/javascript">
    //状态修改
    function setProperty(obj,id,type){
        $(obj).html($(obj).html() + "...");
        $.post("{:url('Good/setproperty?model=category')}",{id:id,type:type, data:obj.getAttribute("data")},function(d){
                $(obj).html($(obj).html().replace("...",""));
                $(obj).html( d.data=='1'?'显示':'隐藏');
                $(obj).attr("data",d.data);
        },"json");
    }
</script>
{/block}
