
<div class="form-group">
    <label class="col-sm-2 control-label">商城评论标签</label>
    <div class="col-sm-9">
        <textarea id="shopplabel" name="shopplabel" class="form-control" style="width:500px;height: 150px;">{$item.shopplabel}</textarea>
        <p>多个标签用空隔隔开</p>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">游玩评论标签</label>
    <div class="col-sm-9">
        <textarea id="playlabel" name="playlabel" class="form-control" style="width:500px;height: 150px;">{$item.playlabel}</textarea>
        <p>多个标签用空隔隔开</p>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">酒店评论标签</label>
    <div class="col-sm-9">
        <textarea id="hotellabel" name="hotellabel" class="form-control" style="width:500px;height: 150px;">{$item.hotellabel}</textarea>
        <p>多个标签用空隔隔开</p>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">套票评论标签</label>
    <div class="col-sm-9">
        <textarea id="ticketlabel" name="ticketlabel" class="form-control" style="width:500px;height: 150px;">{$item.ticketlabel}</textarea>
        <p>多个标签用空隔隔开</p>
    </div>
</div>