
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>开篇大图链接地址</label>
    <div class="col-sm-6">
        <input type="text" min="0" name="pic_url" class="form-control" value="{$item['pic_url']}" />
    </div>
    <div class="col-sm-4"><p class="help-block">url</p></div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>持续时间</label>
    <div class="col-sm-6">
        <input type="number" min="0" name="pic_time" class="form-control" value="{$item['pic_time']}" />
    </div>
    <div class="col-sm-4"><p class="help-block">单位秒</p></div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">图片</label>
    <div class="col-sm-6">
        <img id="showhead" src="{$item.pic_img|default='/zhiing/admin/img/webuploader.png'}" style="max-height: 480px;max-width: 320px;">
        <input type="file" name="file" id="file_head" style="display: none">
    </div>
</div>
<script type="text/javascript">
    $(function() {
        $("#file_head").on('change', function() {
            var objUrl = getObjectURL(this.files[0]);
            console.log("objUrl = " + objUrl);
            if (objUrl) {
                $("#showhead").attr("src", objUrl);
                $("#file_head").attr("value", objUrl);
            }
        });
        $("#showhead").click(function() {
            $("#file_head").click();
        });
    });
    //建立一個可存取到該file的url
    function getObjectURL(file) {
        var url = null;
        if (window.createObjectURL != undefined) { // basic
            url = window.createObjectURL(file);
        } else if (window.URL != undefined) { // mozilla(firefox)
            url = window.URL.createObjectURL(file);
        } else if (window.webkitURL != undefined) { // webkit or chrome
            url = window.webkitURL.createObjectURL(file);
        }
        return url;
    }
</script>