{extend name="public/base" /}

{block name="body"}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="mail-box-header">
                <!-- 表操作集合-->
                <div class="mail-tools tooltip-demo">

                    <div class="btn-group pull-right">
                        <form method="get" action="{:url('')}" class="pull-right mail-search">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" name="title" value="" placeholder="请输入菜单名称">
                                <div class="input-group-btn add_js_group2">
                                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="btn-group add-offsetRight">
                        <div class="input-group inline">
                            <a href="{:url('add',array('pid'=>input('get.pid',0)))}" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> 添加</a>
                            <a href="javascript:;" url="{:url('del')}" class="btn btn-sm btn-danger add-offsetLeft ajax-post confirm" target-form="ids"><i class="fa fa-trash-o"></i> 删除</a>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                </div>
                <!-- 表操作集合 - 结束-->
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <form class="ids" >
                            <table class="table table-striped add_tableimg2_table">
                            <thead>
                                <tr>
                                    <th class="i-checks checks-some"><input type="checkbox" ></th>
                                    <th>ID</th>
                                    <th>名称</th>
                                    <th>上级菜单</th>
                                    <th>分组</th>
                                    <th>URL</th>
                                    <th>排序</th>
                                    <th>仅开发者模式显示</th>
                                    <th>隐藏</th>
                                    <th class="text-right">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                {notempty name="list"}
                                {volist name="list" id="menu"}
                                <tr>
                                    <td class="i-checks checks-block"><input type="checkbox" name="id[]" value="{$menu.id}"></td>
                                    <td>{$menu.id}</td>
                                    <td>
                                        <a href="{:url('index?pid='.$menu['id'])}">{$menu.title}</a>
                                    </td>
                                    <td>{$menu.up_title|default='无'}</td>
                                    <td>{$menu.group}</td>
                                    <td>{$menu.url}</td>
                                    <td>{$menu.sort}</td>
                                    <td>
                                        <a href="{:url('toogleDev',array('id'=>$menu['id'],'value'=>abs($menu['is_dev']-1)))}" class="ajax-get">
                                            {$menu.is_dev_text}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{:url('toogleHide',array('id'=>$menu['id'],'value'=>abs($menu['hide']-1)))}" class="ajax-get">
                                            {$menu.hide_text}
                                        </a>
                                    </td>
                                    <td class="text-right">
                                        <a href="{:url('edit?id='.$menu['id'])}">编辑</a>
                                        <a href="{:url('del?id='.$menu['id'])}" class="confirm ajax-get">删除</a>
                                    </td>
                                </tr>
                                {/volist}
                                {else/}
                                <tr><td colspan="10" class="text-center"> aOh! 暂时还没有内容! </td></tr>
                                {/notempty}
                            </tbody>
                        </table>
                        </form>
                    </div>
                    <!-- 分页-->
                    <div class="row">
                        <div class="col-lg-12">
                            {$_page}
                        </div>
                    </div>
                    <!-- 分页 - 结束 -->
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script>
    $(function() {
        //导航高亮
        highlight_subnav('{:url('index')}');
    });
</script>
{/block}