<html>

<body>
<div class="btn-group add-offsetRight" style="width: 1000px;height: 300px;">
    <div class="input-group inline">
        <form action="{:url('suplogin/expinexcelzd')}" method="post" enctype="multipart/form-data">
            <div class="input-group-btn add_js_group2"style="float: right;display: inline-block;width: 20%;" >
                <button type="submit" class="btn btn-sm btn-primary add-offsetLeft"  >导入</button>
            </div>
            <input id="hello33"  type="file" class="form-control " style="width: 80%;float: left;display: inline-block;" value="" placeholder="" name="file" >
        </form>
    </div>
</div>
</body>
</html>