<!-- 成员授权编辑页面 -->
{extend name="public/base" /}
{block name="body"}
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
            <div class="mail-box-header">
                <!-- 表操作集合-->
                <div class="mail-tools tooltip-demo">
                    <div class="btn-group pull-right">
                        <select name="group"  class="form-control">
                            {volist name="auth_group" id="vo"}
                            <option value="{:url('AuthManager/user',array('group_id'=>$vo['id'],'group_name'=>$vo['title']))}" {eq name="vo['id']" value="$this_group['id']"}selected{/eq}>{$vo.title}</option>
                            {/volist}
                        </select>
                    </div>

                    <div class="btn-group add-offsetRight">
                        <div class="input-group inline">
                            <a class="btn btn-outline btn-info" href="{:url('AuthManager/access',array('group_name'=>input('group_name') ,'group_id'=> input('group_id')))}">访问授权</a>
                            <!--<a class="btn btn-outline btn-info add-offsetLeft" href="{:url('AuthManager/category',array('group_name'=>input('group_name') ,'group_id'=> input('group_id')))}">分类授权</a>-->
                            <a class="btn btn-info add-offsetLeft"  href="javascript:;">成员授权</a>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                </div>
                <!-- 表操作集合 - 结束-->
            </div>

            <div class="ibox-content">
                <!-- 数据列表 -->
                <div class="table-responsive">
                    <table class="table table-striped add_tableimg2_table">
                        <thead>
                            <tr>
                                <th class="">UID</th>
                                <th class="">账号</th>
                                <th class="">最后登录时间</th>
                                <th class="">最后登录IP</th>
                                <th class="">状态</th>
                                <th class="">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {volist name="_list" id="vo"}
                            <tr>
                                <td>{$vo.uid} </td>
                                <td>{$vo.username}</td>
                                <td><span>{$vo.last_login_time|time_format}</span></td>
                                <td><span>{$vo.last_login_ip|long2ip}</span></td>
                                <td>{$vo.status_text}</td>
                                <td><a href="{:url('AuthManager/removeFromGroup?uid='.$vo['uid'].'&group_id='.input('group_id'))}" class="ajax-get">解除授权</a></td>
                            </tr>
                            {/volist}
                        </tbody>
                    </table>
                </div>

                <div class="main-title">
                    <div class="page_nav fl">
                        {$_page}
                    </div>
                    <div id="add-to-group" class="pull-right">
                        <form class="add-user" action="{:url('addToGroup')}" method="post" enctype="application/x-www-form-urlencoded" >
                            <input class="form-control" style="width: 220px; float: left; margin-right: 5px;" type="text" name="uid" placeholder="请输入uid,多个用英文逗号分隔">
                            <input type="hidden" name="group_id" value="{:input('group_id')}">
                            <button type="submit" class="btn btn-primary ajax-post" target-form="add-user">新 增</button>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
		</div>
	</div>
</div>
{/block}

{block name="script"}
<script type="text/javascript" charset="utf-8">
	$('select[name=group]').change(function(){
		location.href = this.value;
	});
    //导航高亮
    highlight_subnav('{:url('AuthManager/index')}');
</script>
{/block}
